<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container" style ="max-width: 2000px;padding-left: 0px;padding-right: 0px">
      {% if session['logged_in'] %}
          <div class="row align-items-center justify-content-end" style= "width:100%;height:60px;">
            <div class="col-sm-2">
              <a href="/logout" class="btn form-control btn-success">Log out</a>
            </div>
        </div>
        {% else %}
          <div class="row align-items-center justify-content-end" style= "width:100%;height:60px;">
              <div class="col-sm-2">
                <a href="/login" class="btn form-control btn-success">Login</a>
              </div>
              <div class="col-sm-2">
                <a href="/register" class="btn form-control btn-primary">Register</a>
              </div>
          </div>
          {% endif %}
        <div class="row justify-content-md-center" align="center" style = "margin-top:100px;">
          <h2 style = "background:darkgray; padding-top:10px;padding-bottom: 10px;border-radius: 10px; width:60%"> Welcom to homepage!</h2>
        </div>
        <div class="row justify-content-md-center" align= "center" style = "padding:40px;">
          <h6>You can show all of pets and add, update, delete it on this page.</h6>
        </div>
        {% if session['logged_in'] %}
          <div class="row" align="center">
              <a type="button" class="btn btn-primary btn-lg" style = "width:300px;margin-left: 40%;" href='/api/pets'>Show all pets</a>
          </div>
        {% else %}
          <div class="col align-self-center" style = "padding-left:25%;font-size: 25px;color: red">
            Please Sign up first. You can show all pets when signed up.
        </div>
        {% endif %}
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>